//CalendarCard
.calendarCard{
  width: fit-content;
  align-content: center;
}

//WelcomeCard
.profileIcon{
  text-align: right;
}

//ReviewBPMCard
.cardSize{
  width: 1000px;
}

.viewDetailsText{
  color: #ff9797;
  margin-right: 7px;
}
